두 수를 입력 받아서 합을 출력하는 프로그램 와!

In [9]:
# 두 정수 A와 B 입력 받기
A, B = map(int, input("두 정수 a와 b를 입력하세요: ").split())

# A와 B의 합 구하기
sum = A + B

# 합 출력
print(sum)

두 정수 a와 b를 입력하세요: 2 3
5

In [11]:
print("hello world")

hello world

In [10]:
# oj 1001번
A, B = map(int, input().split())

if A > B:
    print(">")
elif A < B:
    print("<")
else:
    print("=")

1 2
<