<a href="https://colab.research.google.com/github/ahyoungKwon/aipython/blob/main/240419.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#과제 - 미완
score = []
for i in range(3):
  score1 = input("학생의 점수를 입력하세요.")
  if not score1.isdigit():
        print("정수형 데이터를 입력해주세요.")
        break
  score.append(int(score1))

if len(score) == 3:
  print("입력 데이터 출력:", score)
  print("합계 :", sum(score))
  print("인원수 :", min(score))
  print("평균 : ", sum(score)/len(score))

학생의 점수를 입력하세요.p[][
정수형 데이터를 입력해주세요.

In [9]:
#과제 - while문

scores = []
while True:
  score = input("학생의 점수를 입력하세요.")
  if score.isdigit():
    scores.append(int(score))
  else :
    break

print("입력 데이터 출력:", scores)
print("합계 :", sum(scores))
print("인원수 :", min(scores))
print("평균 : ", sum(scores)/len(scores))

학생의 점수를 입력하세요.70
학생의 점수를 입력하세요.80
학생의 점수를 입력하세요.90
학생의 점수를 입력하세요.ㅔ
입력 데이터 출력: [70, 80, 90]
합계 : 240
인원수 : 70
평균 :  80.0

In [4]:
#한 행씩 출력
score = [[29, 28, 27, 30],
         [30, 20, 27, 29],
         [23, 25, 29, 30]]

for sc in score :
  print(sc)

[29, 28, 27, 30]
[30, 20, 27, 29]
[23, 25, 29, 30]

In [5]:
score = [[29, 28, 27, 30],
         [30, 20, 27, 29],
         [23, 25, 29, 30]]

for r in range(3):
  for c in range(4):
    print(score[r][c], end = " ")
  print()

29 28 27 30
30 20 27 29
23 25 29 30

In [6]:
score = [[29, 28, 27, 30],
         [30, 20, 27, 29],
         [23, 25, 29, 30]]

for sc in score: #한 줄씩 출력 = 3번 반복
  for c in sc: #개별 요소 하나씩 출력 = 4번 반복
    print(c, end = " ")
  print()

29 28 27 30
30 20 27 29
23 25 29 30

In [10]:
score = [[29, 28, 27, 30],
         [30, 20, 27, 29],
         [23, 25, 29, 30]]

for c1, c2, c3, c4 in score: #행 개수(3)만큼 반복
  print(c1, c2, c3, c4) #개별 요소

29 28 27 30
30 20 27 29
23 25 29 30

In [ ]:
#딕셔너리

In [11]:
strings = {'Python', 'Java', 'Ruby'}
sentence = '->'.join(strings)
print(sentence)

Ruby->Python->Java

In [14]:
#리스트컴프리헨션 1
number_list = [x for x in range(1, 11) if x % 2 == 0]
print(number_list)

[2, 4, 6, 8, 10]

In [15]:
#리스트컴프리헨션 2
city = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
s_cities = [c for c in city if c.startswith('S') or c.startswith('s')] #c: 도시명, startswith: 문자열이 특정 글자로 시작하는지 확인
print(s_cities)

['Seoul', 'Shanghai']

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even = list(filter(lambda x : x % 2 == 0, numbers))
print(even)

In [ ]:
number_list = [x**2 for x in range(10) if x % 2 == 0]
print(number_list)

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even = list(filter(lambda x : x % 2 == 0, numbers))
print(even)

In [ ]:
x = ['Python', 'Java', 'JavaScript']
newlist = [(idx + 1, value) for idx, value in enumerate(x)]
print(newlist)

In [ ]:
def myFunc(x):
  if x < 18:
    return False
  else:
    return True

ages = [5, 12, 17, 18, 24, 32]

#new = list(filter(myFunc, ages))
#print(new)

new = list(filter(lambda age: age >= 18, ages))
print(new)