<a href="https://colab.research.google.com/github/ahyoungKwon/aipython/blob/main/240405.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
_c = 1
_d = 2
print(_c+_d)

3

In [4]:
#조건문
a= int(input("수를 입력하세요. :"))
if a > 5 :
  print("a는 5보다 큽니다.")
elif a < 5 :
  print("a는 5보다 작습니다.")
else:
  print("a는 5입니다")
print("실행 종료")

수를 입력하세요. :5
a는 5입니다
실행 종료

In [10]:
#홀짝 판별
a = int(input("a 값을 입력하세여: "))
if (a%2 == 0):
  print("a는 짝수입니다")
else:
   print("a는 홀수입니다")

a 값을 입력하세여: 664625657
a는 홀수입니다

In [14]:
#교재 60쪽
b = 1
while( b <= 3):
  print('안녕', b)
  b += 1

안녕 1
안녕 2
안녕 3

In [24]:
score = int(input("점수를 입력하세요: "))
if (score < 0 or score > 100):
  print("올바르지 않은 값입니다.")
elif score >= 90 :
  print("A")
elif score >= 80 :
  print("B")
elif score >= 70 :
  print("C")
elif score >= 60 :
  print("D")
else :
  print("F")

점수를 입력하세요: 응애

ValueError: invalid literal for int() with base 10: '응애'

In [25]:
# 반복문 for
a = [1, 2, 3, 4, 5]
for i in a:
  print(i)

1
2
3
4
5

In [26]:
a = [1, 2, 3, 4, 5]
for i in a:
  print(i, end = ",")

1,2,3,4,5,

In [29]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
hap = 0
for i in a:
  hap += i
print(hap)

55

In [30]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

In [31]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [33]:
for x in("월화수") :
  print(x)

월
화
수

In [39]:
for y in range(1, 101, 1):
  if y%2 == 1 :
    continue
  print(y)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [35]:
for y in range(2, 101, 2):
  print(y)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [42]:
for d in range(5):
  if d == 3:
    break
  print(d)

0
1
2

In [43]:
#1에서 10까지의 짝수 값과 홀수 값 따로 더하기
odd = 0
even = 0
for i in range(1, 11, 1):
  if i % 2 == 1:
    odd += i
  else :
    even += i
print(odd, even)

25 30

In [48]:
# OJ 1003번
n = int(input())
hap = 0
for i in range(1, n+1, 1):
    hap += i
print(hap)

12
78