<a href="https://colab.research.google.com/github/ahyoungKwon/aipython/blob/main/240412.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
a = [10, 20, ['one', 'two']]
print(a[2][0], a[2][1])

one two

In [4]:
#'apple' 요소 출력
fruits = ["banana", "apple", "orange", "cherry"]
print(fruits[1])

apple

In [5]:
#마지막 요소 출력
numbers = [10, 20, 30, 40, 50]
print(numbers[-1])

50

In [6]:
#바나나를 포도로 변경
fruits = ["apple","cherry", "banana"]
fruits[2] = "grape"
print(fruits)

['apple', 'cherry', 'grape']

In [8]:
#딸기 추가
fruits = ["apple", "banana", "cherry"]
fruits.append("strawberry")
print(fruits)

['apple', 'banana', 'cherry', 'strawberry']

In [10]:
#30 제거
numbers = [10, 20, 30, 40, 50]
numbers.remove(30)
print(numbers)

[10, 20, 40, 50]

In [12]:
#리스트 길이 출력
numbers = [5, 10, 15, 20]
len(numbers)

4

In [13]:
#가장 작은 값/가장 큰 값 출력
numbers = [10, 5, 8, 3, 15]
print(min(numbers))
print(max(numbers))

3
15

In [14]:
#모든 요소의 합 출력
numbers = [10, 20, 30, 40, 50]
print(sum(numbers))

150

In [17]:
#모든 요소를 제곱하여 새로운 리스트 생성
numbers = [1, 2, 3, 4, 5]
new_list = []
for i in numbers :
  new_list.append(i**2)
print(new_list)

[1, 4, 9, 16, 25]

In [16]:
#사과의 개수 출력
fruits = ["apple", "banana", "apple", "cherry", "apple"]
print(fruits.count("apple"))

3

In [18]:
a = 7//2
print(a)

3

In [40]:
#과제 - 미완
score = []
for i in range (3):
  score1 = input("학생의 점수를 입력하세요.")
  if not score1.isdigit():
        print("정수형 데이터를 입력해주세요.")
        break
  score.append(int(score1))

if len(score) == 3:
  print("입력 데이터 출력:", score)
  print("합계 :", sum(score))
  print("인원수 :", min(score))
  print("평균 : ", sum(score)/len(score))

학생의 점수를 입력하세요.dfkld
정수형 데이터를 입력해주세요.

In [20]:
def square(x):
  return x**2

In [21]:
ret = square(5)
print(ret)

25

In [31]:
def square(numbers):
  newlist = []
  for num in numbers :
    newlist.append(num**2)
  return newlist

In [32]:
new = square([1, 2, 3, 4, 5])
print(new)

[1, 4, 9, 16, 25]

In [35]:
#bmi 함수 만들기
def bmi(height, weight):
  result = weight/((height*0.01)**2)
  return result

In [36]:
mybmi = bmi(158, 46)
print(mybmi)

18.426534209261334